<p id="notice"><%= notice %></p>

<h1>Listing Customer Ca Movements</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Previous balance</th>
      <th>Date</th>
      <th>Customer</th>
      <th>Customer ca movement type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_ca_movements.each do |customer_ca_movement| %>
      <tr>
        <td><%= customer_ca_movement.amount %></td>
        <td><%= customer_ca_movement.previous_balance %></td>
        <td><%= customer_ca_movement.date %></td>
        <td><%= customer_ca_movement.customer %></td>
        <td><%= customer_ca_movement.customer_ca_movement_type %></td>
        <td><%= link_to 'Show', customer_ca_movement %></td>
        <td><%= link_to 'Edit', edit_customer_ca_movement_path(customer_ca_movement) %></td>
        <td><%= link_to 'Destroy', customer_ca_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer ca movement', new_customer_ca_movement_path %>
